body {
  background-color: #131415;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 850px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #cbc8d0;
}
.container {
  margin-bottom: 110px;
}
.link {
  color: #adb0b1;
}
.link:hover {
  color: white;
}
.link:focus {
  color: white;
}
.pagination .active {
  background-color: white !important;
  color: black !important;
  border-color: white !important;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 1);
}
footer p {
  font-size: 12px;
}
footer h3 {
  font-size: 24px;
}
a{
    text-decoration: none;
}
.form-control:focus {
  border-color: white;
  color: white;
  box-shadow: none;
}
.col-12 img{
  max-width: 100%;
  max-height: 100%;
}